.header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  border-bottom: 1px solid black;
  width: 100%;
}

.header img {
  padding: 10px;
}

.header a {
  display: inline-block;
  justify-content: space-around;
  color: black;
  padding: 10px;
}

.header p {
  color: MediumAquamarine;
  padding-right: 20px;
}
